extends layout

block content
  h1= title
  div(class="row")
    each team in teams
     div(class="col-sm-1")
      div(class='card')
        img(class="card-img-top" src=team.imgURL alt="Img Unavailable")
        div(class='card-body')
          h5=team.name
          